.collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.collection {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid goldenrod;
}

img {
  width: 50px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background: rgb(255, 241, 202);
  margin-bottom: 2em;
  flex: 0 1 24%;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  font-size: 22px;
}

.card-content {
  padding: 0.5em;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: rgb(126, 179, 96);
  font-family: "Gloria Hallelujah", cursive;
}

.card-content p {
  font-size: 80%;
  color: darkslategrey;
}

.content-petname {
  color: darkslategrey;
}

.card button {
  background-color: rgb(170, 204, 154);
  border: none;
  color: rgb(43, 42, 39);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 0.5em;
  border-radius: 2px;
  margin: 0.1em;
  width: 100%;
  font-family: "Gloria Hallelujah", cursive;
}

.card button:hover {
  background-color: rgb(189, 130, 2);
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
