body,
html {
  height: 100%;
  background-color: blanchedalmond;
  cursor: url(../public/monstera.png), auto;
  background-position-x: center;
  background-image: url(/public/sownlogo3.png);
  z-index: 1;
  /* min-height: 15rem;
  min-width: 30rem; */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.welcome {
  color: seagreen;
  font-family: "Amatic SC", cursive;
  font-size: 280px;
  padding: 0.01em;
  margin: 25px 250px 1px 250px;
  background: linear-gradient(45deg, rgb(154, 180, 59), #ffea2f);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  /* display: inline-block; */
}

.keepers {
  color: seagreen;
  font-family: "Amatic SC", cursive;
  font-size: 45px;
  padding: 0.05em;
  margin: 0.1px 250px 5px 250px;
  background: linear-gradient(45deg, rgb(54, 100, 35), #ffea2f);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
}

.welcome-name {
  text-align: center;
  color: seagreen;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  padding: 12%;
  margin: 5px 200px 5px 200px;
}

.sow-button {
  text-align: center;
  font-family: fantasy;
}

.first-paragraph {
  text-align: center;
  border: 5px outset rgb(33, 119, 52);
  padding: 0.5em;
  margin: 1px 250px 5px 250px;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 23px;
  background-color: rgb(255, 228, 181);
  border-radius: 45px;
  /* box-shadow: 100px 100px; */
}

.second-paragraph {
  text-align: center;
  border: 10px outset goldenrod;
  padding: 1em;
  margin: 25px 200px 5px 200px;
  font-family: "Homemade Apple", cursive;
  font-size: 25px;
  background-color: moccasin;
  border-radius: 45px;
  /* box-shadow:  */
}

/* html {
  background: url(img_man.jpg) no-repeat center fixed;
  background-size: cover;}*/

.card button {
  border-radius: 45px;
}
