.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.navbar__item a {
  flex-basis: 20%;
  list-style-type: none;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 25px;
  color: rgb(207, 157, 92);
  list-style-type: none;
}

/* An "A" tag for the html element - with class name  */
.navbar__item li {
  list-style-type: none;
}
