.h1,
h1 {
  font-size: 2.5rem;
  font-family: "Gloria Hallelujah", cursive;
}

fieldset {
  min-width: 0;
  padding: 1rem 0;
  margin: 0;
  border: 0;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
}

.form--login {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
  width: 25em;
  text-align: center;
}

.label--login {
  width: 8rem;
  display: inline-block;
  text-align: center;
}

.form-control {
  display: block;
  width: 94%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  line-height: 1.5;
  color: #1b630c;
  background-color: rgb(255, 253, 221);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
}


.container--login {
  text-align: center;
}

.form--login {
  background-position-x: right;
  /* background-image: url(logo.png); */
  z-index: 1;
  min-height: 25rem;
  min-width: 45rem;
  background-color: hsla(0, 0%, 100%, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  text-align: center;
}

.button--close {
  position: relative;
  bottom: -2rem;
  text-align: center;
}

.dialog {
  min-width: 15rem;
  min-height: 5rem;
  text-align: center;
}

.link--register {
  font-family: "Gloria Hallelujah", cursive;
}

.emailAddress {
  text-align: right;
  padding: 1rem;
  margin: 1em;
  width: 93%;
}

.signInButton {
  background-color: rgb(170, 204, 154);
  /* border: none;
  /* color: rgb(43, 42, 39); */
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: .5em;
  border-radius: 35px;
  margin: .35em;
  width: 25%;
font-family: "Gloria Hallelujah", cursive;
}

.signButton button:hover {
  background-color: rgb(189, 130, 2);
}